PerfectNumbers.Core/bin/*
PerfectNumbers.Core/obj/*
EvenPerfectBitScanner/bin/*
EvenPerfectBitScanner/obj/*
EvenPerfectBitScanner.Benchmarks/bin/*
EvenPerfectBitScanner.Benchmarks/obj/*
EvenPerfectBitScanner.ResultsParser/bin/*
EvenPerfectBitScanner.ResultsParser/obj/*
EvenPerfectBitScanner.Tests/bin/*
EvenPerfectBitScanner.Tests/obj/*
BuildDivisorTransitions/bin/*
BuildDivisorTransitions/obj/*
DeviceDependentGenerator/bin/*
DeviceDependentGenerator/obj/*
DeviceDependentGenerator.Tests/bin/*
DeviceDependentGenerator.Tests/obj/*
PerfectNumbers.Core.Tests/bin/*
PerfectNumbers.Core.Tests/obj/*
.DS_Store
.vs/*
*.generated.cs
PerfectNumbers.Core/generated/*
